html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 10px rgba(0,0,0,.2);

}
.slider {
    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 666px;
    z-index: 1;


}

#image-list {
    width: 1000px;
    height: 666px;
    display: flex;
    padding: 0;
    list-style: none;


}

.slide-img {

    max-width: 1000px;
    max-height: 666px;
    margin:0;
}




.button-wrapper {
    display: block;
    border: none;
    outline: none;
    background: transparent;
}

.fa-arrow-left,
.fa-arrow-right {
    color: white;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

.fas {
    color: rgba(255,255,255, 0.9);
    font-size: xx-large;
}

.btn {

    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 50px;
}

.right-btn{
    right:5%;
}


.left-btn{
    left: 5%;
}

.image-item  {
    display: none;
    transition:  3s;
    left: 50%;
    top:50%;
width: 1000px;
height: 666px;

}

.image-item.active {
    display: block;
}

/*dots*/

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    transition:  0.6s ease;
    z-index: 1000;
}

.active, .dot:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 45%
}

/*animation*/

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}
@keyframes fade {
    from{opacity: .4}
    to{opacity: 1 }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    .button-wrapper {
        display: none;

    }
}